@import "../../_mixins/mixins";
@import "../common";

// loading line icon


/*
   <b class="loading">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
  </b>
*/




b.loading {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;

  > i {
    width: 10%;
    height: 80%;
    .borderRadius(5px);
    .animation(loading 1s ease-in infinite);
    .iconbg();

    // ------------
    // Ñ­»·Éú³Éi
    .setchild(@n,@i:1) when (@i <= @n) {
      &:nth-child(@{i}) {
        .animateDelay(0.2*@i);
      }
      .setchild(@n, @i+1)
    }
    .setchild(5);
  }
}
@keyframes loading {
  0% {
    .transform(scaleY(1))
  }
  50% {
    .transform(scaleY(0.2));
  }
  100% {
    .transform(scaleY(1));
  }
}