

@import "compatible";
@import (reference) "../_variables/base";
//
//------------------------

.iconbg{
  background-color:@grey-dark;
}


.borderRadius(@rule){
  border-radius:@rule;
}

.setWH(@w,@h:@w){
  width: @w;
  height: @h;
}

.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}


.setcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%));
}























