@import "../../_mixins/mixins";
@import "../common";

/*
<b class="wifi">
      <b>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
      </b>
</b>

*/

b.wifi {
  //position: relative;
  .setWH(40px);
  .flex-around-end;
  > b {
        .setWH(25%);
        //width: 25%;
        //height: 25%;
        position: relative;
        i {
          //display: block;
          box-sizing: border-box;
          .circle();
          //border-radius: 50%;
          border: 3px solid;
          //position: absolute;
          //left: 50%;
          //top: 50%;
          //transform: translate(-50%,-50%);
          .setcenter();
          border-color: @grey-dark transparent transparent transparent;
          //opacity: 0;
        }

        //  bulid child ----------------------

        .setChild(@n,@i:1) when(@i<=@n){
          &:nth-child(@{i}){
            //@num = 750 - @i*150;
            ////.setWH(@num%);
            //.setWh(unit(@num,%));
            .animation(wifi1 2s infinite)
          }
          .setChlid(@n,@i+1);
        };
        //.setChild(3);

        //i:nth-child(1) {
        //  width: 600%;
        //  height: 600%;
        //  animation: wifi1 2s infinite;
        //}
        //i:nth-child(2) {
        //  width: 450%;
        //  height: 450%;
        //  animation: wifi2 2s infinite;
        //}
        //i:nth-child(3) {
        //  width: 300%;
        //  height: 300%;
        //  animation: wifi3 2s infinite;
        //}
        i:nth-child(4) {
          width: 60%;
          height: 60%;
          opacity: 1;
          background-color: rgb(153, 153, 153);
          transform: translate(-50%, -100%);
        }
  }

}

@keyframes wifi1 {
  66.6% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wifi2 {
  33.3% {
    opacity: 0;
  }
  66.6% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wifi3 {
  0% {
    opacity: 0;
  }
  33.3% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
